.dropdown button {
  background-color: #303B39;
  color: white;
  height: 40px;
  width: 200px;
  text-align: left;
}

.dropdown button::after {
  font-family: 'FontAwesome';
  content: '\f107';
  float: right;
}

.dropdown::after {
  clear: both;
}

.dropdownlist {
  list-style: none;
}

.dropdownlist a {
  color: black;
  font-weight: bold;
}

.dropdownlist a:hover {
  color: red;
}


/******************************************************************************/

.banner {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5)), url(../img/home/banner.png);
  height: 100vh;
  background-size: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.btn-banner {
  text-transform: uppercase;
  border-radius: 7px;
  background-color: white;
  padding: 15px 25px;
  cursor: pointer;
  box-shadow: 3px 5px #999;
}

.btn-banner:hover {
  background-color: violet;
  color: white;
}

.btn-banner:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
