/*.dropdown button {
  background-color: #303B39;
  color: white;
  height: 40px;
  width: 200px;
  text-align: left;
}

.dropdown {
  width: 200px;
  background-color: white;
}

.dropdown button::after {
  font-family: 'FontAwesome';
  content: '\f107';
  float: right;
}

.dropdown::after {
  clear: both;
}

.dropdownlist {
  list-style: none;
}

.dropdownlist a {
  color: black;
  font-weight: bold;
}

.dropdownlist a:hover {
  color: red;
}*/


/******************************************************************************/

.banner {
  background-image: linear-gradient(to right, rgba(128, 0, 128, 0.5), rgba(140, 240, 242, 0.5)), url(../img/home/banner.png);
  height: 100vh;
  background-size: cover;

}

.banner-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.banner__btn {
  text-transform: uppercase;
  border-radius: 7px;
  background-color: white;
  padding: 15px 25px;
  cursor: pointer;
  box-shadow: 3px 5px #999;
  margin-left: 10px;
  font-weight: bold;
  font-size:0.9vw;
  font-family: 'Lato', sans-serif;

}

.banner__btn:hover {
  background-color: #9383ff;
  color: white;
  border: 0px solid;
}

.banner__btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.banner__btn--red {
  background-color: red;
  color: white;
}

.trending {
  font-size: 26px;
}

.allposts {
  text-align: center;
  margin-top: 20px;
}

.banner__btn--blue {
  background-color: #6c57f6;
  box-shadow: 3px 5px #6c57f6;
  color: white;
  margin: 0;
  padding: 7px 7px;
}

.banner__btn--red:hover {
  background-color: #9383ff;
}

.banner__btn--blue:hover {
  background-color: #89B59D;
}

.authors {
  margin-top: 15px;
  background-color: #ccc;
  padding: 30px;
  text-align: center;
  height: 450px;
}

.authors__container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.authors__p {
  text-align: left;
  font-size: 25px;
}

.author__back {
  color: white;
  font-size: 100%;
}

@media screen and (max-width: 636px) {
  .author__back {
    font-size: 80%;
  }
  .banner__btn {
    font-size: 80%;
  }
  .banner {
    height: 90vh;
  }
}

@media screen and (max-width: 535px) {
  .author__back {
    font-size: 60%;
  }
  .banner__btn {
    font-size: 30%;
  }
  .banner {
    height: 80vh;
  }
}

.authors::after {
  clear: both;
}

.face {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background: linear-gradient(to left, rgba(128, 0, 128, 1), rgba(70, 132, 153, 1));
  position: absolute;
  top: 0;
  left: 0;
}

.author {
  box-shadow: 0.5px 0.5px 1px #888888;
  width: 20%;
  height: 70%;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
  margin-bottom: 20px;
  margin-left: 25px;
  background-color: white;
}

.author:hover {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  box-shadow: -5px 5px 5px #aaa;
  letter-spacing: 0.05em


}

.author__p {
  padding: 0;
  font-size: 0.9vw;
  text-align: center;
  color: #4B0082;
  position: relative;
}

.author__p:after {
  content: "";
  position: absolute;
  width: 7%;
  border-top: 1px solid #4B0082;
  bottom: -10%;
  left: 45%;
}

.author__back {
  color: white;
}

.author__img {
  width: 60%;
  height: 50%;
  border-radius: 50%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-top: 5%;
  margin-right: auto;
}

.author__name {
  text-align: center;
  font-size: 1.7vw;
  margin-top: 10%;
  font-weight: bold;
}

.authors__bullets i {
  margin-left: 10px;
  cursor: pointer;
}

.tiles {
  padding-top: 6%;
  margin-bottom: 1%;
}

.tiles__tile {
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

.tiles__tile--blog {
  box-shadow: 2px 2px 5px #888888;
}

.tile__text {
  background-color: white;
  width: 100%;
}

.tile__img {
  width: 100%;
  height: 75%;
  background-size: cover;
}

.tile__ul {
  margin-left: -10%;
  margin-top: 8%;
  margin-bottom: 5%;
  margin-left: 0%;
}

.tile__ul--blog {
  margin-bottom: -4%;
}

.ul__li {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 5%;
}

.ul__li--type {
  font-size: 0.6vw;
  margin-right: 5%;
  margin-left: 10%;
}

.ul__li--details {
  font-size: 0.5vw;
  color: #A9A9A9;
  margin-right: 1% margin-bottom: 0%;
}

.tile__p {
  padding: 0;
  font-weight: bold;
  font-size: 0.7vw;
  margin-left: 0%;
  margin-bottom: 0%;
  position: relative;
}

.tile__p--blog {
  margin-right: 10%;
  margin-left: 10%;
}
