.myslider{
	overflow: hidden;
}

.images_container{
	position: relative;
	transition: right .7s;
	right: 0;
}

.slide{
	float: left;
	height: 500px;
	background-size: cover;
	background-position: 50%;
}

.clear{
	clear: both;
}

.slider_nav{
	text-align: center;
	margin-top: 10px;
}

button{
	font-size: 20px;
}

.button--secondary{
	background: white;
	color: red;
}
/*a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
*/

/*.prev,.next {
    width: 50px;
    height: 150px;
    background: transparent url(img/navbuttons2.gif);
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    user-select: none;
}
*/
/*.next {
    right: 50%;
    transform: translateX(120%);
}
.prev{
	left: 50%;
	transform: translateX(-120%);
}

.slider_nav > button {
    position: absolute;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    background: rgba(43,65,77,0.1);
    font-size: 50px;
    text-align: center;
    line-height: 47px;
    cursor: pointer;
    font-weight: normal;
    bottom: 30px;
    opacity: 0.8;
    font-family: 'Flamenco', Arial, sans-serif;
    user-select: none;
    border-right: 10px solid; 
    border-bottom: 10px solid;
    width: 30px; height: 30px;
    transform: rotate(-45deg);
}*/

